	#todo-list { 
		margin-bottom:30px; 
	}
	#todo-form { 
		margin-bottom:50px; 
	}
	#list { 
		overflow-y: scroll; height: 100px;
	}
	#list2 { 
		overflow: scroll;
		height: 450px;
		white-space: pre;
	}

	@media (max-width: 368px)
	{
		.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12{
			padding-right: 0px;
			padding-left: 0px;
		}
	}

	.panel {
		margin-bottom: 5px;
	}

	span.ex-1 {
		color: red;
	}

	body {
		overflow: hidden;
		max-width: 100%;
		max-height: 100%;
	}

	md-select.md-default-theme .md-select-value, md-select .md-select-value {
	    border-bottom-color: rgba(0,0,0,0.12);
	    border: 0px;
	}
	md-select.md-default-theme:not([disabled]):focus .md-select-value, md-select:not([disabled]):focus .md-select-value {
	    border-bottom-color: rgb(63,81,181);
	    color: rgba(0,0,0,0.87);
	    border: 0px;
	}

	.selectdemoSelectHeader .demo-header-searchbox {
		border: none;
		outline: none;
		height: 100%;
		width: 100%;
		padding: 0; 
	}
	.selectdemoSelectHeader .demo-select-header {
		box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
		padding-left: 10.667px;
		height: 48px;
		cursor: pointer;
		position: relative;
		display: flex;
		align-items: center;
		width: auto; 
	}
	.selectdemoSelectHeader md-content._md {
		max-height: 240px; 

	}

	md-option {
		height: 23px;
	}

	md-input-container .md-input.md-input {
		line-height: 14px;
		height: 19px;
	}

	md-input-container {
		margin: 0px 0;
	}

	md-input-container .md-errors-spacer {
		float: right;
		min-height: 20px;
		min-width: 1px;
	}

	md-select-menu[multiple] md-option.md-checkbox-enabled .md-container:after {
		box-sizing: border-box;
		content: '';
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
	}
	md-input-container.md-input-focused:not([md-no-float]) .md-select-placeholder span:first-child {
		-webkit-transform: translateY(-6px) translateX(-2px) scale(0.75);
		transform: translateY(-6px) translateX(-2px) scale(0.75);
	}
	md-input-container.md-input-focused label:not(.md-no-float), md-input-container.md-input-has-placeholder label:not(.md-no-float), md-input-container.md-input-has-value label:not(.md-no-float) {
		-webkit-transform: translate3d(0, 6px, 0) scale(0.75);
		transform: translate3d(0, 6px, 0) scale(0.75);							
	}
	md-input-container.md-input-has-value .md-select-value > span:not(.md-select-icon) {
	    -webkit-transform: translate3d(0, 1px, 0);
	    transform: translate3d(0, 6px, 0);
	    font-size: 90%;
	}

	md-checkbox .md-icon {
		width: 16px;
		height: 17px;
		top: -15px;
	}

	md-input-container.select.md-input-focused label:not(.md-no-float), md-input-container.select.md-input-has-placeholder label:not(.md-no-float), md-input-container.select.md-input-has-value label:not(.md-no-float) {
		transform: translate3d(0, 16px, 0) scale(0.75);
	}

	md-optgroup {
		display: block;
		margin-top: 34px;
	}	

	md-select {
		max-width: 210px;
	}

	md-checkbox .md-container .md-ripple-container {
		position: absolute;
		display: block;
		width: auto;
		height: auto;
		left: -15px;
		top: -26px;
		right: -9px;
		bottom: 5px;
	}

	md-switch {
		margin: 0;
		display: inline-block;
	}

	md-input-container .md-input-message-animation, md-input-container .md-char-counter {
		font-size: 11px;
		line-height: 12px;
		padding-top: 3px;
	}

	.selectdemoSelectHeader .demo-select-header {
		position: fixed;
		width: 88%;
		background-color: #FFF;
		z-index: 1000;
		height: 30px;
	}
	.md-button {
		min-width: 0px;
		margin: 0;
		min-width: 0;
		min-height: 0;
		line-height: 0;
		padding: 0px 0;
		margin: 0px 4px;
	}
	
	.md-toolbar-tools {
		padding:0;
		font-size: 	85%;
	}

	.menu-bar{
		position: relative;
	}

	.toolbar{							
		position: relative;
		z-index: 2;
		width: 100%;
		height: initial;
		border-bottom: 1px solid #e1e1e1;
	}

md-tabs-content-wrapper {
    position: absolute;
    top: 86px;
    font-size: 13px;
    border: 1px solid #e1e1e1;  
}

md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
    min-height: initial;
}
md-tabs {
    display: table-row;
}

form {
	width:100%;
}

md-tabs-canvas {
    height: 26px;
}

md-tab-item md-icon {
	outline: none;
    border: none;
    width: 17px;
    min-width: 17px;
}

.md-chips {
    display: block;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 12px;
    padding: 0px 0 0px 0px;
    vertical-align: middle;
    box-shadow: 0 0 !important;
}

.md-chips md-chip {
    border-radius: 5px;
    height: 19px;
    line-height: 20px;
    margin: 3px 4px 0 0;
    padding: 0 0 0 0;
}

.md-chips .md-chip-input-container input:not([type]), .md-chips .md-chip-input-container input[type="email"], .md-chips .md-chip-input-container input[type="number"], .md-chips .md-chip-input-container input[type="tel"], .md-chips .md-chip-input-container input[type="url"], .md-chips .md-chip-input-container input[type="text"] {
    border-radius: 5px;
    height: 19px;
    line-height: 22px;
    margin: 0px 4px 0 0;
    padding: 0 12px 0 12px;
}

.md-chips md-chip .md-chip-remove{
	width: 0;
	height: 0;
}

.toolbar .md-chips {
    margin-top: 10px;
    padding: 0px 0 0px 10px;
    box-shadow: 0 0 !important;
    border-left: 1px solid #b1b1b1;
}

.md-chips md-chip .md-chip-remove md-icon {
	top: -1px;
    left: -18px;
    font-size: 16px;
    height: 10px;
    width: 10px;
    min-width: 0;
    max-width: 0;
}

.md-chips .md-chip-input-container:not(:first-child) {
    margin: 2px 8px 0 0;
    height: initial;
    line-height: 20px;
}

.md-chips .md-chip-input-container {
    margin: 0px 8px 0 0;
    height: 24px;
    line-height: 20px;
}

.md-chips .md-chip-input-container {
    margin: 0px 8px 0 0;
    height: 20px;
}

.md-chips.md-removable md-chip .md-chip-content {
     border-radius: 5px;
    height: 19px;
    line-height: 20px;
    padding: 0 12px 0 12px;
}

.custom-error{
	color: rgb(221,44,0);
	font-size: 11px;
    line-height: 12px;
    padding-top: 3px;
}

.md-tab {
    font-size: 14px;
    line-height: 24px;
    padding: 0px 4px;
}

.tab-content {
	white-space: pre;
}


.chipsdemoBasicUsage .errors {
  font-size: 12px;
  color: #dd2c00;
  margin-top: 10px; }

.chipsdemoBasicUsage .custom-chips md-chip {
  position: relative; }
  .chipsdemoBasicUsage .custom-chips md-chip .md-chip-remove-container {
    position: absolute;
    right: 4px;
    top: 4px;
    margin-right: 0;
    height: 24px; }
    .chipsdemoBasicUsage .custom-chips md-chip .md-chip-remove-container button.vegetablechip {
      position: relative;
      height: 24px;
      width: 24px;
      line-height: 30px;
      text-align: center;
      background: rgba(0, 0, 0, 0.3);
      border-radius: 50%;
      border: none;
      box-shadow: none;
      padding: 0;
      margin: 0;
      transition: background 0.15s linear;
      display: block; }
      .chipsdemoBasicUsage .custom-chips md-chip .md-chip-remove-container button.vegetablechip md-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0) scale(0.7);
        color: white;
        fill: white; }
      .chipsdemoBasicUsage .custom-chips md-chip .md-chip-remove-container button.vegetablechip:hover, .chipsdemoBasicUsage .custom-chips md-chip .md-chip-remove-container button.vegetablechip:focus {
        background: rgba(255, 0, 0, 0.8); }

.chipsdemoBasicUsage .custom-chips md-chips-wrap.md-removable md-chip md-chip-template {
  padding-right: 5px; }


.ç0 {background-color:#FF0000}
.ç1 {background-color:#FFFF00}
.ç2 {background-color:#00EAFF}
.ç3 {background-color:#AA00FF}
.ç4 {background-color:#FF7F00}
.ç5 {background-color:#BFFF00}
.ç6 {background-color:#0095FF}
.ç7 {background-color:#FF00AA}
.ç8 {background-color:#FFD400}
.ç9 {background-color:#6AFF00}
.ç10 {background-color:#0040FF}
.ç11 {background-color:#EDB9B9}
.ç12 {background-color:#B9D7ED}
.ç13 {background-color:#E7E9B9}
.ç14 {background-color:#DCB9ED}
.ç15 {background-color:#B9EDE0}
.ç16 {background-color:#8F2323}
.ç17 {background-color:#23628F}
.ç18 {background-color:#8F6A23}
.ç19 {background-color:#6B238F}
.ç20 {background-color:#4F8F23}
.ç21 {background-color:#000000}
.ç22 {background-color:#737373}
.ç23 {background-color:#CCCCCC}


/*help-bar*/
.helpbar {
	border-bottom: 1px solid #e1e1e1;
	background: white; 
}

/*tabs*/

md-ink-bar {
    position: absolute;
    left: auto;
    right: auto;
    bottom: 22px;
    height: 2px;
}

.tabsdemoDynamicHeight md-content {
  background-color: transparent !important; 
}
 
md-tabs {
	background: #f6f6f6;
	border-bottom: 1px solid #e1e1e1;
}

md-tabs md-tabs-wrapper {
  background: white; 
}

md-tab-content {
	background-color: white;
}

md-chip {
    border-radius: 5px;
    height: 19px;
    line-height: 20px;
    margin: 0px 4px 0 0;
    padding: 0 5px 0 5px;
}

.md-chips.md-removable md-chip {
    padding-right: 0px;
}